[package]
name = "apertium-stats-service"
version = "0.1.0"
authors = ["Sushain Cherivirala <sushain@skc.name>"]

[dependencies]
chrono = { version = "0.4.0", features = ["serde"] }
diesel = { version = "1.1", features = ["sqlite", "serde_json", "chrono", "r2d2"] }
diesel-derive-enum = { version = "0.4", features = ["sqlite"] }
dotenv = "0.9.0"
futures = "0.1"
hyper = "0.11"
hyper-tls = "0.1.2"
lazy_static = "1.0"
quick-xml = "0.10.0"
regex = "0.2"
rocket = "0.3.6"
rocket_codegen = "0.3.6"
rocket_cors = "0.2.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tempfile = "2"
tokio-core = "0.1"

[dependencies.rocket_contrib]
version = "*"
default-features = false
features = ["json"]
