[package]
name = "apertium-stats-service"
version = "0.1.0"
authors = ["Sushain Cherivirala <sushain@skc.name>"]

[dependencies]
chrono = { version = "0.4.2", features = ["serde"] }
diesel = { version = "1.2.2", features = ["sqlite", "serde_json", "chrono", "r2d2"] }
diesel-derive-enum = { version = "0.4.3", features = ["sqlite"] }
dotenv = "0.11.0"
hyper = { git = "https://github.com/hyperium/hyper.git", branch = "master" }
hyper-tls = { git = "https://github.com/hyperium/hyper-tls.git", branch = "master" }
lazy_static = "1.0.0"
quick-xml = "0.12.1"
regex = "1.0.0"
rocket = "0.3.10"
rocket_codegen = "0.3.10"
rocket_contrib = { version = "0.3.10", default-features = false, features = ["json"] }
rocket_cors = "0.2.3"
serde = "1.0.45"
serde_derive = "1.0.45"
serde_json = "1.0.17"
tempfile = "3.0.1"
tokio = "0.1.6"
slog = "2.2.3"
slog-term = "2.4.0"
slog-async = "2.3.0"

[dev-dependencies]
diesel_cli = { version = "1.2.0", default-features = false, features = ["sqlite"] }
