name: Check
on:
  - push
  - pull_request
env:
  CARGO_TERM_COLOR: always
  DIESEL_CLI_VERSION: "1.4.1"
jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          override: true
          components: rustfmt, clippy
      - name: Restore Rust cache
        uses: Swatinem/rust-cache@v1

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check
      - name: Run cargo clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets --all-features -- -D warnings
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          override: true
      - name: Restore Rust cache
        uses: Swatinem/rust-cache@v1

      - name: Install apertium-all-dev
        run: wget http://apertium.projectjj.com/apt/install-nightly.sh -O - | sudo bash
      - name: Install other language tools
        run: sudo apt-get install cg3

      - name: Install diesel_cli
        uses: actions-rs/install@v0.1
        with:
          crate: diesel_cli
          version: ${{ env.DIESEL_CLI_VERSION }}

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
  coverage:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          override: true
      - name: Restore Rust cache
        uses: Swatinem/rust-cache@v1

      - name: Install apertium-all-dev
        run: wget http://apertium.projectjj.com/apt/install-nightly.sh -O - | sudo bash
      - name: Install other language tools
        run: sudo apt-get install cg3

      - name: Install diesel_cli
        uses: actions-rs/install@v0.1
        with:
          crate: diesel_cli
          version: ${{ env.DIESEL_CLI_VERSION }}

      - name: Run tests with coverage
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: "0.15.0"
          args: --out Lcov --timeout 120 --exclude-files src/stats/tree-sitter-apertium/*
      - name: Upload coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info
